html {
  font-family: sans-serif;
  font-size: 1.2rem;
} 

#app {
  max-width: 450px;
  margin: 0 auto;
}

#tasks-list {
  display: block;
  list-style-type: None;
}

h1 {
  text-align: center;
}

input {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

li {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background: #bbbbbb;
  border-radius: 4px;
}

li span {
  display: inline-block;
  padding: 0.5rem;
  width: 250px;
  margin: auto;
  border-radius: 4px;
}

li span:focus {
  outline: 0;
  border: 2px solid #007bff
}

button {
  color: white;
  cursor: pointer;
  border-radius: 4px;
  background: #007bff;
  border: 2px solid #007bff;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
}
            
[type='text']:focus {
  outline: 0;
  border: 2px solid #007bff
}

#settings-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
}

#modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}